:root {
  --round: 10px;
  --lightgray: rgba(80, 80, 140, 0.1);
;
  --gray: #888;
  --block-color1: #50508C;
  --block-color2: #66ccff;
}

.calendar {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid var(--lightgray);
  font-family: sans-serif;
  border-radius: var(--round);
}


.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--lightgray);
  text-align: center;
  font-weight: 540;
  border-top-left-radius: var(--round);
  border-top-right-radius: var(--round);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.calendar-day-header {
  padding: 8px 0;
  border-bottom: 1px solid var(--lightgray);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-cell {
  min-height: 80px;
  border: 1px solid var(--lightgray);
  border-left: none;
  border-right: none;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.calendar-cell:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}


.date-number {
  font-weight: bold;
  margin-bottom: 4px;
}

.assignment-blocks {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
  align-items: center;
}

.assignment-block {
  background-color: var(--block-color1);
  color: white;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;

}

.date-number {
  font-weight: normal;
  margin-bottom: 4px;
  font-size: 14px;
}

.calendar-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.calendar-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color:var(--gray);
}

.nav-btn:hover {
  background-color: transparent;
  border: none;
  color:black;
  font-size: 16px;
  cursor: pointer;
}

.month-text {
  font-size: 18px;
  font-weight: 600;
}