.topbar {
  width: 100%;
  height: 4em;
  background: #50508C;
  background: rgba(80, 80, 140, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar-inner {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.topbar-back {
  font-size: 1.4rem;
  color: #333;
}

.topbar-logo {
  height: 28px;
}

.topbar-title {
  font-size: 1.1rem;
  font-weight: 600;
}
